<template>
  <div>
    <div
      class="top-header bg-red-400 body-font-size seconde-bg-color text-white p-2"
    >
      <div class="container mx-auto">
        カンボジア政府認定 技能実習生送り出し機関「リネットカンボジアHR」
      </div>
    </div>
    <div class="header container mx-auto flex p-6">
      <div class="left">
        <div class="logo w-[70px]">
          <img class="w-full" src="../images/logo.png" alt="" />
        </div>
      </div>
      <div class="right ml-[80px]">
        <div class="title-header text-2xl">
          <strong class="text-color">相談無料</strong> 外国人採用はカンボジア政府認定のリネットカンボジアHR
        </div>
        <div class="flex justify-between mt-3">
          <div>
            <div class="flex">
              <div class="logo ">
                <img src="../images/icons/phone_icon.png" alt="" />
              </div>
              <div class="number text-3xl font-bold text-color mt-4 ml-3">052-589-2291</div>
            </div>
            <div class="date body-font-size mt-3">受付時間 平日10:00-18:00</div>
          </div>
          <div class="message">
            <div class="w-[300px]">
                <img class="w-full" src="../images/Group-2-1.png" alt="" /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
