html{
    font-family: "yu mincho";
}

.bg-color{
    background-color: #F37723;
}

.seconde-bg-color{
    background-color: #921411;
}

.text-color{
    color: #921411;
}
.title-font-size{
    font-size: 24px;
}

.body-font-size{
    font-size: 18px;
}